html {
    font-family: 'Helvetica Neue', sans-serif;
}
body {
    padding-top: 50px; /* Move down content because we have a fixed navbar that is 50px tall */
}

.page-amax {
    padding-left: 52px;

    -webkit-transition: padding-left .5s;
    transition: padding-left .5s;
}

.header-logo {
    float: left;
    overflow: hidden;

    width: 52px;
    height: 50px;

    -webkit-transition: width .5s;
    transition: width .5s;

    color: #979da7;
    background: #373d47;
}

.header-content {
    overflow: hidden;

    height: 50px;
    padding-right: 35px;

    border-bottom: 1px solid #eee;
    background: #fff;
}

.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;
    overflow-x: hidden;
    overflow-y: auto;

    width: 52px;

    -webkit-transition: width .5s;
    transition: width .5s;

    color: #979da7;
    background: #373d47;
}

.brand-container {
    width: 230px;
}

.brand-container h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 36px;

    float: left;

    width: 158px;
    margin: 0 0 0 14px;
}

.header-logo a,
.header-logo .logo-link {
    display: inline-block;

    height: 50px;
    padding: 7px 8px;

    color: #979da7;

    vertical-align: middle;
}

.header-logo .logo-link {
    width: 36px;
    padding-right: 0;
}

.header-logo a.brand-link {
    width: 174px;
}

.header-logo .logo-link img {
    float: left;

    width: 36px;
    height: 36px;

    border-radius: 18px;
}

.header-content .navbar-collapse {
    float: right;
}

.navbar-nav {
    font-size: 12px;

    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    line-height: 28px;

    width: 28px;
    height: 28px;
    margin: 11px 5px;
    padding: 0;

    text-align: center;

    color: #888;
    border-radius: 40px;
    background-color: #f5f5f5;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
    background-color: rgb(55, 61, 71);
    color: #fff;
    outline: none;
}

.nav > li > a:focus {
    background-color: rgb(55, 61, 71);
    outline: none;
}

.navbar-nav a span {
    display: none;
}

h1.page-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;

    overflow: hidden;

    margin: 0;
    padding: 0 15px 0 15px;

    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #444;
}

.page-content {
    width: 100%;
    padding: 20px;

    background: #fff;
}

.header-content .navbar-toggle {
    position: absolute;
    right: 2px;

    margin: 0;

    color: #666;
    border-radius: 0;
}
.nav-sidebar {
    margin-top: 79px;
}

.nav-sidebar li {
    width: 230px;
}

.nav-sidebar > li > a {
    font-size: 13px;

    padding: 8px 15px 8px 16px;

    color: #979da7;
}

.nav-sidebar > li > a:hover {
    color: #fff;
    background-color: rgb(36, 39, 45);
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: rgb(36, 39, 45);
}

.nav-sidebar > li i.fa {
    width: 20px;
    margin-right: 23px;

    text-align: center;
}

@media (min-width: 1200px) {
    .page-amax {
        padding-left: 230px;
    }

    .header-logo {
        width: 230px;
    }

    .sidebar {
        width: 230px;
    }
}

tr.clickable-row[data-href] {
    cursor: pointer;
}

.table-tab > tbody > tr:first-child > th,
.table-tab > tbody > tr:first-child > td {
    border-top: none;
}

